.Post {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: auto;
    border-top: 1px solid #d6d6d6;
  }
  &_New {
    text-align: center;
  }
  &_All {
    text-align: center;
    margin-top: 60px;
  }
  &_List {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    &Items {
      width: 400px;
      max-width: 100%;
    }
  }
}

:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;

  --input-border-focus: #76a298;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #76a298;
}

.formGroup {
  display: block;
  width: 100%;
  padding: 15px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  // border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  &::placeholder {
    color: var(--input-placeholder);
  }
  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }
}

.formGroup {
  position: relative;
  display: flex;
  width: 100%;

  & > span,
  .formField {
    white-space: nowrap;
    display: block;
    border: 1px solid var(--input-border);
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .formField {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  & > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    color: #ffffff;
    background: #000000;
    border: 1px solid #000000;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  &:focus-within {
    & > span {
      color: white;
      background: rgb(51, 51, 51);
      border-color: var(--group-border-focus);
    }
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
.buttonPost {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: var(--group-color);
  color: #ffffff;
  background: #000000;
  border-radius: 4px;
  margin-bottom: 9px;
}
body {
  .formGroup {
    max-width: 360px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
